<div class='col-sm-12 question-form'>
	<%= form_for @question, :remote => @question.new_record?, :format => :js do |f| %>
		<% unless @question.new_record? %>
			<div class="form-group">
			<%= f.select :category_id, options_from_collection_for_select(Category.all, 'id', 'title', @question.category_id), class: "form-control" %>
			</div>
		<% end %>
		<div class="form-group">
			<%= f.text_field :title, placeholder: "Upiši pitanje", class: "form-control" %>
			<span id="title-length">najmanje 5 karaktera</span>
		</div>
		<div class="form-group">
			<%= f.text_area :content, placeholder: "Po potrebi dodaj detaljniji opis", class: "form-control" %>
			<span id="content-length" class="regular">preostalo 300 karaktera</span>
		</div>
		<% if user_signed_in? %>
			<div class="form-group check-box-row">
        <%= check_box_tag :sign %>
        <span>Potpiši se</span>
        <% if current_user.username.nil? %>
					<%= text_field_tag :username, nil, placeholder: "Korisničko ime", class: "form-control" %>
						<span id="username-length" class="longer">ne može biti prazno</span>
				<% end %>
      </div>
    <% else %>
    	<div class="form-group">
    		<%= recaptcha_tags %>
    	</div>
		<% end %>
		<% if @question.new_record? %>
			<%= f.hidden_field :category_id, :value => params[:id] %>
		<% end %>
		<div class="form-group">
			<%= f.submit "Postavi pitanje", class: "form-control" %>
		</div>
	<% end %>
</div>

<script>
	$("#sign").change(function() {
    if(this.checked) {
    	$("#username").addClass("visible");
    	$("#username-length").addClass("visible");
    }
    else if(!this.checked) {
    	$("#username").removeClass("visible");
    	$("#username-length").removeClass("visible");
    }
	});
	$("input[name='question[title]']").on('keyup',function(){
		var max = 80;
		var min = 5;
      	var len = $(this).val().length;
      	if (len > max) {
      		var car = len-max;
      		$('#title-length').removeClass("regular");
		    $('#title-length').text('prekoračili ste dozvoljenu dužinu +' + car);
		} else if (len < min) {
			$('#title-length').removeClass("regular");
			$('#title-length').text('najmanje 5 karaktera');
		} 
		else {
		    var car = max - len;
		    $('#title-length').addClass("regular");
		    $('#title-length').text('prostalo ' + car + ' karaktera');
		}
	});
	$("textarea[name='question[content]']").on('keyup',function(){
		var max = 300;
      	var len = $(this).val().length;
      	if (len > max) {
      		var car = len-max;
      		$('#content-length').removeClass("regular");
		    $('#content-length').text('prekoračili ste dozvoljenu dužinu +' + car);
		} else {
		    var car = max - len;
		    $('#content-length').addClass("regular");
		    $('#content-length').text('prostalo ' + car + ' karaktera');
		}
	});
	$("input[name='username']").on('keyup',function(){
		var max = 30;
		var len = $(this).val().length;
    if (len > max) {
      var car = len-max;
      $('#username-length').addClass("longer");
		  $('#username-length').text('prekoračili ste dozvoljenu dužinu +' + car);
		} else if (len == 0) {
			$('#username-length').addClass("longer");
			$('#username-length').text('ne može biti prazno');
		} else {
		    var car = max - len;
		    $('#username-length').removeClass("longer");
		    $('#username-length').text('prostalo ' + car + ' karaktera');
		}
	});
</script>