<div class='col-sm-12 question-form'>
	<%= form_for @question, :remote => @question.new_record?, :format => :js do |f| %>
		<% unless @question.new_record? %>
			<div class="form-group">
			<%= f.select :category_id, options_from_collection_for_select(Category.all, 'id', 'title', @question.category_id), class: "form-control" %>
			</div>
		<% end %>
		<div class="form-group">
			<%= f.text_field :title, placeholder: "Upiši pitanje", class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.text_area :content, placeholder: "Po potrebi dodaj detaljniji opis", class: "form-control" %>
		</div>
		<% if user_signed_in? %>
			<div class="form-group check-box-row">
        <%= check_box_tag :sign %>
        <span>Potpiši se</span>
      </div>
    <% else %>
    	<div class="form-group">
    		<%= recaptcha_tags %>
    	</div>
		<% end %>
		<% if @question.new_record? %>
			<%= f.hidden_field :category_id, :value => 0 %>
		<% end %>
		<div class="form-group">
			<%= f.submit "Postavi pitanje", class: "form-control" %>
		</div>
	<% end %>
</div>