<li id="question-<%= question.id %>">
	<div class='row question'>
		<hr />
    <div class='col-sm-2 question-avatar'>
      <% if question.user.nil? || question.user.avatar_url.nil? || question.signature.nil? %>
        <span class='avatar-placeholder'><i class='fa fa-user fa-3x'></i></span>
      <% else %> 
        <%= image_tag question.user.avatar_url(:medium).to_s %>
      <% end %>
    </div>

    <div class='col-sm-10 question-body'>
      <div class='row'>

      <div class='col-sm-7 question-author'>
        <span>
        <% if question.signature.nil? %>
          anonimno
        <% elsif !question.signature.nil? %>
          <%= question.signature %>
        <% end %>
        </span>
        <% if user_signed_in? && question.owner?(current_user) %>
          <span class='question-actions'>
            <%= link_to edit_question_path(question) do %>
              <i class='fa fa-edit'></i>
            <% end %>
            <%= link_to question, remote: true, method: :delete, data: { confirm: 'Da li ste sigurni? Pitanje će biti trajno obrisano.' } do %>
              <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <% end %>
          </span>
        <% end %>
      </div>
  		<div class='col-sm-5 question-created-at'>
    		<span><%= question.created_at.strftime("%d.%m.%Y. %H:%M") %>
      </span>
      </div>
    	<div class='col-sm-12 question-title'>
    		<span><%= question.title %></span>
    	</div>
    	<div class='col-sm-12 question-content'>
    		<span><%= truncate(question.content, length: 100) %></span>
    	</div>
      <div class='col-sm-4 question-share'>
        <iframe class="fb-share-button" width="100px" height="20px" frameborder="0" allowtransparency="true" scrolling="no" src="https://www.facebook.com/plugins/share_button.php?app_id=380442578823911&amp;href=http://www.pitamte.com/pitanja/<%=question.slug%>&amp;layout=button" style="border: none; visibility: visible; width: 100px; height: 20px;"></iframe>
      </div>
      <div class='col-sm-4 question-answers'>
        <span>Odgovora: <%= question.answers.count %></span>
      </div>
      <div class='col-sm-4 question-answers-link'>
        <%= link_to question do %>
          <% if question.answers.count == 0 %>
            <span class='unanswered'>odgovori</span>
            <i class='fa fa-arrow-right unanswered'></i>
          <% else %>
            <span class='answered'>pogledaj</span>
            <i class='fa fa-arrow-right answered'></i>
          <% end %>
        <% end %>
      </div>

      </div>
    </div>

  </div>
</li>