<%
meta title: "Pitanja — " + @question.title,
	og: {
	  title: @question.title,
	 	description: @question.content
	}
%>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 questions-panel">
			<div class='row questions-panel-header'>
		    <div class='col-md-3 col-sm-4 questions-panel-header-title'>
		    	<h4>Pitanje</h4>
		    </div>
		    <div class='col-md-9 col-sm-8'>
		    	<h4 class='questions-panel-header-category'><%= @question.category.title %></h4>
		    </div>
		  </div>
		  <div class='row question margin-top-middle'>
		  	<div class='col-sm-2 question-avatar'>
		      <% if @question.user.nil? || @question.user.avatar_url.nil? || @question.signature.nil? %>
		        <span class='avatar-placeholder'><i class='fa fa-user fa-3x'></i></span>
		      <% else %> 
		        <%= image_tag @question.user.avatar_url(:medium).to_s %>
		      <% end %>
		    </div>
		    <div class='col-sm-10 question-body'>
		      <% if user_signed_in? && @question.owner?(current_user) %>
		        <div class='col-sm-3 col-sm-offset-1 question-actions'>
		          <span>moje</span>
		        </div>
		        <div class='col-sm-4 question-actions edit'>
		          <span><%= link_to "izmeni", edit_question_path(@question) %></span>
		        </div>
		        <div class='col-sm-4 question-actions delete'>
		          <span>
		            <%= link_to @question, remote: true, method: :delete, data: { confirm: 'Da li ste sigurni? Pitanje će biti trajno obrisano.' } do %>
		              obriši
		            <% end %>
		          </span>
		        </div>
		      <% end %>

		      <div class='col-sm-7 question-author'>
		        <span>
		        <% if @question.signature.nil? %>
		          anonimno
		        <% elsif !@question.signature.nil? %>
		          <%= @question.signature %>
		        <% end %>
		        </span>
		      </div>
		  		<div class='col-sm-5 question-created-at'>
		    		<span><%= @question.created_at.strftime("%d.%m.%Y. %H:%M") %>
		      </span>
		      </div>		    
			  	<div class='col-md-12 question-title'>
						<span><%= @question.title %></span>
					</div>
					<div class='col-md-12 question-content'>
						<span><%= @question.content %></span>
					</div>
					<div class='col-sm-6 question-share'>
			      <iframe class="fb-share-button" width="100px" height="20px" frameborder="0" allowtransparency="true" scrolling="no" src="https://www.facebook.com/plugins/share_button.php?app_id=380442578823911&amp;href=http://www.pitamte.com/pitanja/<%=@question.slug%>&amp;layout=button" style="border: none; visibility: visible; width: 100px; height: 20px;"></iframe>
			    </div>		    
			    <div class='col-sm-6 question-answers'>
			      <span>Odgovora: <%= @question.answers.count %></span>
			    </div>
		    </div>
			</div>
			<div class='row'>
				<div class='col-md-12'>
					<h4>Odgovori</h4>
					<ul class="answers">
		        <%= render @answers %>
		      </ul>
				</div>
				<div class="row">
		    	<%= paginate @answers %>
		    </div>
		    <% if user_signed_in? %>
					<%= render 'answers/form' %>
				<% else %>
					<%= button_to "Prijavi se da odgovoriš", new_user_session_path, method: "get", class: "signin-to-answer form-control" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).on( 'click', '.close', function() {
		$(this).addClass('confirm-delete');
	});
</script>