<div class='col-sm-12 question-form'>
	<%= form_for @answer do |f| %>
		<div class="form-group">
			<%= f.text_area :content, placeholder: "Upiši odgovor", class: "form-control" %>
		</div>
		<% if @answer.new_record? %>
			<%= f.hidden_field :question_id, :value => @question.id %>
		<% end %>
		<div class="form-group check-box-row">
      <%= check_box_tag :sign %>
      <span>Potpiši se</span>
    </div>
		<div class="form-group">
			<%= f.submit "Pošalji odgovor", class: "form-control" %>
		</div>
	<% end %>
</div>