<div class='row'>
  <div class='col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1 user-form'>
    <h2>Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.password_field :password, autofocus: true, placeholder: "Unesi novu lozinku", autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Potvrdi novu lozinku", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Promeni lozinku", class: "form-control" %>
      </div>
    <% end %>
    <div class='row row-centered center'>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>