<% provide(:title, @category.title) %>

<div class='container'>
	<div class='row'>
		
		<div class='col-md-3 col-sm-4'>
			<div class='panel panel-default categories-panel'>
			  <div class="panel-body">
			  	<h4>Kategorije</h4>
			    <ul class="categories">
			    	<li>
			    		<%= link_to root_path do %>
								<div class='row category' id="category-0">
									<hr />
							  	<span>Sva pitanja</span><i class="fa fa-chevron-right"></i>
							  </div>
							<% end %>
						</li>
  					<%= render @categories %>
					</ul>
			  </div>
			</div>
		</div>
		<div class='col-md-6 col-sm-8 questions-panel'>
	    <div class='row questions-panel-header'>
		    <div class='col-md-3 col-sm-4 questions-panel-header-title'>
		    	<h4>Pitanja</h4>
		    </div>
		    <div class='col-md-9 col-sm-8'>
		    	<h4 class='questions-panel-header-category'><%= @category.title %></h4>
		    </div>
		  </div>
		  <div class='row' id='question-form'>
		  	<%= render 'questions/form' %>
		  </div>
		  <div class='row'>
	      <ul class="questions">
	        <%= render @questions %>
	      </ul>
	    </div>
	    <div class="row">
	    	<%= paginate @questions %>
	    </div>
		</div>
		<div class='col-md-3'>
			<div class="socials-panel-header">
				<h4>Društvene mreže</h4>
			</div>
			<div class="row socials-panel-body">
				<div class="col-md-6 socials-instr">
					<span>Podeli sajt:</span>
				</div>
				<div class="col-md-6">
					<div class="fb-share-button" data-href="https://www.pitamte.com" data-layout="button_count"></div>
				</div>
			</div>
			<div class="row socials-panel-body">
				<div class="col-md-6 socials-instr">
					<span>FB stranica:</span>
				</div>
				<div class="col-md-6">
					<iframe class= "fb-like" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpitamtecom%2F&amp;width=91&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;appId=380442578823911" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:20px;" allowTransparency="true"></iframe>
				</div>
			</div>
			<div class="row socials-panel-body">
				<div class="col-md-12">
					<iframe
						class= "twitter-follow-button"
					  src="//platform.twitter.com/widgets/follow_button.html?screen_name=pitamtecom"
					  style="width: 300px; height: 20px;"
					  allowtransparency="true"
					  frameborder="0"
					  scrolling="no">
					</iframe>
				</div>
			</div>
			<div class="socials-panel-footer">
			</div>
			</div>
			<div class="adds-panel">
				<iframe src="//go.padstm.com/?id=262211&t=iframe&var=44413" style="width:160px;height:600px;border:0;overflow:hidden;"></iframe>
			</div>
		</div>

	</div>
</div>

<script>
	$(document).on( 'click', '.close', function() {
		$(this).addClass('confirm-delete');
	});
</script>