<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <link href='http://fonts.googleapis.com/css?family=Homenaje&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag %>
  <%= metamagic site: "PitamTe", title: [:site, :title], separator: " — ", description: "Korisnici pitaju, korisnici odgovaraju.", keywords: %w(ko kako zasto da li ima kome cemu sta čemu šta zašto gde može koliko koliki kolika zbog čega cega moze koja koji koje čija cija kakav kakva) %>
  <meta property="og:type" content="question" />
  <meta property="og:image" content="http://i.imgur.com/sDEdPTs.png" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div id="page-wrapper">
  	<%= render 'layouts/header' %>
    <div id='page-content'>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
